#!/bin/bash

## software input and output path
metadata_path="${output}/metadata/${prefix}"
result_path="${output}/result/${prefix}"
log_path="${output}/log/${prefix}"
fastp_path="${metadata_path}/fastp"        
samtools_path="${metadata_path}/samtools"
speedseq_path="${metadata_path}/picard"
mosdepth_path="${metadata_path}/mosdepth"
manta_path="${metadata_path}/manta"

## software path
speedseq="/1/public_resources/softwares/chenrui/speedseq/bin/speedseq"
plot-dist="/1/public_resources/softwares/chenrui/mosdepth/scripts/plot-dist.py"
