#!/bin/bash

## software input and output path
metadata_path="${output}/metadata/${prefix}"
result_path="${output}/result/${prefix}"
log_path="${output}/log/${prefix}"
fastp_path="${metadata_path}/fastp"        
samtools_path="${metadata_path}/samtools"
speedseq_path="${metadata_path}/speedseq"
mosdepth_path="${metadata_path}/mosdepth"
manta_path="${metadata_path}/manta"
